body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #fff;
}

:root {
    --size : 200px;
    --duration : 0.5s;
    --duration1 : var(--duration);
    --duration2 : calc(var(--duration1) + var(--duration1));
    --duration3 : calc(var(--duration2) + var(--duration1));
    --duration4 : calc(var(--duration3) + var(--duration1));
    --duration5 : calc(var(--duration4) + var(--duration1));
    --duration6 : calc(var(--duration5) + var(--duration1));

}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*#region circle*/

.circle-container {
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    border-radius: 50%;
    position: relative;
    background: #d4af5c;
    overflow: hidden;
}

.bubble {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    animation: bubbling linear infinite;
}

@keyframes bubbling {
    0% {
        transform: translateY(-10000%);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateY(2000%);
        opacity: 0;
    }
}

/*#endregion circle*/

/*#region ruban*/


.ruban {
    position: relative;
    width: var(--size);
    font-family: 'Montserrat', sans-serif;
    scale: 0.6;
    z-index: 2;
}

.ruban div {
    position: relative;
    height: 50px;
    margin: -14px 0;
    z-index: 2;
    transform: skewY(-5deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ruban div:nth-child(2),
.ruban div:nth-child(4),
.ruban div:nth-child(6) {
    transform: skewY(14.5deg);
    z-index: 1;
}

.tail {
    transform: skewY(25deg);
    transform-origin: left;
    top: -29px;
}

.ruban div:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    animation: zigzag var(--duration) linear forwards;
}

.ruban div:nth-child(1):before,
.ruban div:nth-child(3):before,
.ruban div:nth-child(5):before {
    /* background: linear-gradient(-160deg, #E2AC6B, #E0D2B4); */
    background-color: #CC231E;
    /* background-color: #ff1111; */
    transform: scaleX(0);    
    border-radius: 4px;
}
.ruban div:nth-child(2):before,
.ruban div:nth-child(4):before,
.ruban div:nth-child(6):before {
    /* background: linear-gradient(-160deg, #E2AC6B, #E0D2B4); */
    background-color: #930e0a;
    transform: scaleX(0);
    border-radius: 4px;
}

.ruban div:nth-child(1):before {
    transform-origin: right;
}
.ruban div:nth-child(2):before {
    animation-delay: var(--duration1);
    transform-origin: left;
}
.ruban div:nth-child(3):before {
    animation-delay: var(--duration2);
    transform-origin: right;
}
.ruban div:nth-child(4):before {
    animation-delay: var(--duration3);
    transform-origin: left;
}
.ruban div:nth-child(5):before {
    animation-delay: var(--duration4);
    transform-origin: right;
}
.ruban div:nth-child(6):before {
    animation-delay: var(--duration5);
    transform-origin: left;
    width: 60%;
    left: 0;
    top: 2px;
}

@keyframes zigzag {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

/* .ruban div:nth-child(1):after,
.ruban div:nth-child(3):after,
.ruban div:nth-child(5):after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    transform: scaleX(0);
    background-color: rgba(255, 255, 255, .2);

    animation: zigzag var(--duration) linear forwards;
}

.ruban div:nth-child(1):after {
    transform-origin: right;
}

.ruban div:nth-child(3):after {
    animation-delay: var(--duration2);
    transform-origin: right;
}
.ruban div:nth-child(5):after {
    animation-delay: var(--duration4);
    transform-origin: right;
} */

h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 10;
    opacity: 0;
    color: #fff;
    font-weight: inherit;
    font-size: 18px;
}

.brand {
    font-size: 32px;
    font-weight: bold;
}

h2 span {
    font-size: 24px;
    font-weight: bold;
}

.ruban div:nth-child(1) h2 {
    animation: fadeText 0.5s linear forwards;
    animation-delay: var(--duration1);
}
.ruban div:nth-child(3) h2 {
    animation: fadeText 0.5s linear forwards;
    animation-delay: var(--duration3);
}
.ruban div:nth-child(5) h2 {
    animation: fadeText 0.5s linear forwards;
    animation-delay: var(--duration5);
}

@keyframes fadeText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/*#endregion ruban*/

/* .third, .fourth {
    width: 84%;
    margin-left: auto !important;
}

.fifth {
    width: 70%;
    margin-left: auto !important;
}

h2 span {
    font-size: 24px;
    font-weight: bold;
} */